body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
  text-align: center;
}

button {
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004085;
}

button:disabled {
  background-color: #ccc;
}

button:focus {
  outline: none;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

p {
  color: #333;
  font-size: 1.2em;
  margin: 10px 0;
}

.restart-button {
  background-color: #28a745;
}

.restart-button:hover {
  background-color: #218838;
}

.restart-button:active {
  background-color: #1e7e34;
}

.question-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.guess-button {
  margin: 10px 0;
  display: block;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  width: 100%;
}
